<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="page">
        <header class="main__header clearfix">
            <div class="logo">
                <a href="index.html">
                    <img class="logo__image" src="../img/ubff-logo-1.svg" alt="">
                </a>
            </div>
            <nav class="navigation clearfix">
                <ul class="navigation__list">
                    <li class="navigation__item"><a class="navigation__link" href="news.html">Новини</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="">Про Федерацію</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="about.html">Про ВМХ</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="team.html">Команда</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="gallery.html">Галерея</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="">Документація</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="">Контакти</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="">Долучитися</a></li>
                </ul>
            </nav>

            <div class="mobile__menu">

                <input type="checkbox" id="menu" class="menu__checkbox">
                <label for="menu" id="menu__label" class="menu__checkbox__label">
                    <div class="menu__lines"></div>
                </label>

                <nav class="mobile__navigation">
                    <ul class="navigation__list">
                        <li class="navigation__item"><a class="navigation__link" href="news.html">Новини</a></li>
                        <li class="navigation__item"><a class="navigation__link" href="">Про Федерацію</a></li>
                        <li class="navigation__item"><a class="navigation__link" href="about.html">Про ВМХ</a></li>
                        <li class="navigation__item"><a class="navigation__link" href="team.html">Команда</a></li>
                        <li class="navigation__item"><a class="navigation__link" href="gallery.html">Галерея</a></li>
                        <li class="navigation__item"><a class="navigation__link" href="">Документація</a></li>
                        <li class="navigation__item"><a class="navigation__link" href="">Контакти</a></li>
                        <li class="navigation__item"><a class="navigation__link" href="">Долучитися</a></li>
                    </ul>
                </nav>
            </div>


        </header>

        <main>
            <section class="info__section">

                <div class="content__top">
                    <div class="container">
                        <h1 class="heading__block page__header --center">Про БМХ</h1>
                    </div>
                </div>
                <div class="main__content">
                    <div class="container">
                        <div class="row content__row">
                            <div class="col l5">
                                <img src="../img/about_page.jpg" class="content__image">
                            </div>
                            <div class="col l7">
                                <p class="content__text"> Eget tellus, quis molestie congue ut dui tortor pulvinar
                                    libero. <br />
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus,quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero. </p>

                                <p class="content__text">
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                </p>
                            </div>
                        </div>

                        <div class="row content__row">
                            <div class="col l7">
                                <p class="content__text"> Eget tellus, quis molestie congue ut dui tortor pulvinar
                                    libero. <br />
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus,quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero. </p>

                                <p class="content__text">
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                </p>
                            </div>
                            <div class="col l5">
                                <img src="../img/about_page.jpg" class="content__image">
                            </div>

                        </div>

                        <div class="row content__row">
                            <div class="col l8 offset-l2">
                                <div class="bquote__content">
                                    <blockquote>
                                        We had an incredible experience working with Landify and were impressed
                                        they<br />
                                        made such a big difference in only three weeks.
                                        Our team is so grateful for the<br /> wonderful improvements they made and their
                                        ability
                                        to
                                        get familiar with the<br /> product concept so quickly.
                                        It acted as a catalyst to take our design to the next<br /> level and get more
                                        eyes on
                                        our
                                        product.
                                    </blockquote>
                                </div>
                            </div>

                        </div>

                        <div class="row content__row">
                            <div class="col l5">
                                <img src="../img/about_page.jpg" class="content__image">
                            </div>
                            <div class="col l7">
                                <p class="content__text"> Eget tellus, quis molestie congue ut dui tortor pulvinar
                                    libero. <br />
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus,quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero. </p>

                                <p class="content__text">
                                    Eget tellus, quis molestie congue ut dui tortor pulvinar libero.
                                </p>
                            </div>
                        </div>

                        <div class="row content__row">
                            <div class="col l12">
                                <img src="../img/decade.jpg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="container">
                <div class="footer__content">
                    <div class="footer__left">

                        <img class="logo__image" src="../img/logo.png" alt="Українська ВМХ Фристайл Федерація">
                        <p><span>©</span> 2021 Українська ВМХ Фристайл Федерація</p>
                        <p>Усі права захищіні</p>
                        <ul class="icons__list">
                            <li class="icons__list__item"><img src="../img/social/instagram.svg" alt="instagram">
                            </li>
                            <li class="icons__list__item"><img src="../img/social/facebook.svg" alt="facebook"></li>
                        </ul>

                    </div>
                    <div class="footer__center">
                        <span class="footer__heading">Роздiли</span>
                        <ul class="footer__navigation__list">
                            <li class="footer__navigation__item"><a class="footer__navigation__link" href="">Новини</a>
                            </li>
                            <li class="footer__navigation__item"><a class="footer__navigation__link" href="gallery.html">Галерея</a>
                            </li>
                            <li class="footer__navigation__item"><a class="footer__navigation__link" href="">Про
                                    Федерацію</a></li>
                            <li class="footer__navigation__item"><a class="footer__navigation__link"
                                    href="">Документація</a></li>
                            <li class="footer__navigation__item"><a class="footer__navigation__link" href="">Про ВМХ</a>
                            </li>
                            <li class="footer__navigation__item"><a class="footer__navigation__link"
                                    href="">Контакти</a></li>
                            <li class="footer__navigation__item"><a class="footer__navigation__link" href="">Команда</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__right">
                        <div class="footer__right__wrapper">
                            <span class="footer__heading">Вступ</span>
                            <a href="#" class="button button-blue">Долучитися до федераціi</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>