<header class="main__header clearfix">
    <div class="logo">
        <a href="index.html">
            <img class="logo__image" src="../img/ubff-logo-1.svg" alt="">
        </a>
    </div>
    <nav class="navigation clearfix">
        <ul class="navigation__list">
            <li class="navigation__item"><a class="navigation__link" href="news.html">Новини</a></li>
            <li class="navigation__item"><a class="navigation__link" href="">Про Федерацію</a></li>
            <li class="navigation__item"><a class="navigation__link" href="about.html">Про ВМХ</a></li>
            <li class="navigation__item"><a class="navigation__link" href="team.html">Команда</a></li>
            <li class="navigation__item"><a class="navigation__link" href="gallery.html">Галерея</a></li>
            <li class="navigation__item"><a class="navigation__link" href="">Документація</a></li>
            <li class="navigation__item"><a class="navigation__link" href="">Контакти</a></li>
            <li class="navigation__item"><a class="navigation__link" href="">Долучитися</a></li>
        </ul>
    </nav>

    <div class="mobile__menu">

        <input type="checkbox" id="menu" class="menu__checkbox">
        <label for="menu" id="menu__label" class="menu__checkbox__label">
            <div class="menu__lines"></div>
        </label>

        <nav class="mobile__navigation">
            <ul class="navigation__list">
                <li class="navigation__item"><a class="navigation__link" href="news.html">Новини</a></li>
                <li class="navigation__item"><a class="navigation__link" href="">Про Федерацію</a></li>
                <li class="navigation__item"><a class="navigation__link" href="about.html">Про ВМХ</a></li>
                <li class="navigation__item"><a class="navigation__link" href="team.html">Команда</a></li>
                <li class="navigation__item"><a class="navigation__link" href="gallery.html">Галерея</a></li>
                <li class="navigation__item"><a class="navigation__link" href="">Документація</a></li>
                <li class="navigation__item"><a class="navigation__link" href="">Контакти</a></li>
                <li class="navigation__item"><a class="navigation__link" href="">Долучитися</a></li>
            </ul>
        </nav>
    </div>


</header>